@import '../styles.scss';

:host {
  display: block;
  margin: 16px;
}

.heading {
  display: flex;
  margin: 8px 0 0;
  h1 {
    margin: 0;
  }
  button {
    margin: 5px 0 0 8px;
  }
}

.panties-container {
  outline: 1px solid grey;
  padding: 8px;
  height: 50vh;
  overflow-y: scroll;
  .panties {
    display: flex;
    flex-wrap: wrap;
    .one-panty {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 8px;
      cursor: pointer;
      &.selected {
        outline: solid 3px black;
      }
      &:not(.selected):hover {
        outline: solid 3px #ccc;
      }
      img {
        height: auto;
        margin: 16px;
        @include alpha-background();
        &.small {
          width: 150px;
        }
        &.medium {
          width: 300px;
        }
        &.large {
          width: 450px;
        }
      }
      div {
        margin-bottom: 8px;
      }
    }
  }
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 30px;
}
