<div class="heading">
  <h1>キッシュちゃんパンツパッチ</h1>
  <button mat-icon-button color="primary" matTooltip="このアプリについて"
          [matTooltipPosition]="'right'" (click)="openInfoDialog()">
    <mat-icon>info</mat-icon>
  </button>
</div>

<!-- 変換元パンツの一覧 -->
<h3>変換するパンツを選んでください。</h3>
<mat-button-toggle-group [(ngModel)]="pantySize">
  <mat-button-toggle value="small">小</mat-button-toggle>
  <mat-button-toggle value="medium">中</mat-button-toggle>
  <mat-button-toggle value="large">大</mat-button-toggle>
  <mat-button-toggle value="original">原寸</mat-button-toggle>
</mat-button-toggle-group>
<div class="panties-container">
  <div class="panties">
    <ng-container *ngIf="panties$ | async as panties; else loading">
      <div class="one-panty" *ngFor="let p of panties" (click)="path = p"
           [class.selected]="path === p">
        <img [src]="pantiesService.originalPantyUrl(p)"
             [class.small]="pantySize === 'small'"
             [class.medium]="pantySize === 'medium'"
             [class.large]="pantySize === 'large'">
        <div>{{p}}</div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div>Loading dream...</div>
    </ng-template>
  </div>
</div>

<!-- 変換先アバター選択 -->
<h3>変換対象のアバターを選んでください。</h3>
<mat-radio-group [(ngModel)]="model">
  <mat-radio-button *ngFor="let c of converters$ | async" [value]="c">
    {{c[1]}}
  </mat-radio-button>
</mat-radio-group>

<!-- GO! -->
<button mat-flat-button color="primary" [disabled]="!model || !path" (click)="execute()">
  {{ path ? path + ' を' : '' }} {{ model ? model[1] : '未選択' }} に変換！
</button>
