<h1 mat-dialog-title>このアプリについて</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab [label]="'概要'">
      <p>このアプリは、TenteEEEE(<a href="https://twitter.com/tenteeeee_vrc">@tenteeeee_vrc</a>)さんが開発している<a href="https://github.com/TenteEEEE/quiche_pantie_patch">キッシュちゃんパンツパッチ</a>をブラウザから利用できるようにするアプリです。</p>
      <p>TenteEEEEさんが日々作成しているパンツを各種アバターのテクスチャ向けに変換することができます。</p>
    </mat-tab>
    <mat-tab [label]="'更新履歴'">
      <table>
        <tbody>
          <tr *ngFor="let log of updateLog">
            <td class="version">{{log.version}}</td>
            <td class="date">{{log.date}}</td>
            <td>
              <ul>
                <li *ngFor="let desc of log.descriptions">{{desc}}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <span></span>
  <button mat-button [mat-dialog-close] cdkFocusInitial>CLOSE</button>
</div>
