@import '../../styles.scss';

// 背景アルファ
.img-container {
  @include alpha-background();
}

// 変換後画像の大きさ
img {
  max-width: 60vw;
  height: auto;
}

// ボタンの位置を調整
[mat-dialog-actions] {
  display: flex;
  padding-bottom: 0;
  margin: 0 -16px -24px;

  & > span:first-child {
    flex-grow: 1;
  }
}
