@import '../../styles.scss';

mat-progress-bar {
  width: 100%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// 変換後画像の大きさ
img {
  max-width: 60vw;
  max-height: 50vh;
  @include alpha-background();
}

// ボタンの位置を調整
[mat-dialog-actions] {
  display: flex;
  padding-bottom: 0;
  margin: 0 -16px -24px;

  & > span:first-child {
    flex-grow: 1;
  }
}
