@import '../../mixins.scss';

mat-progress-bar {
  width: 100%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  img.hidden {
    display: none;
  }

  canvas {
    // 変換後画像の大きさ
    max-width: 60vw;
    max-height: 50vh;
    @include alpha-background();
  }

  .buttons {
    margin: 8px 0 0;
    a, button {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
